.form-container {
  width: 500px;
  height: 500px;
  margin-top: 200px;
  background-color: #ecedef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c6c6ca;
  text-align: center;
}

.form label {
  color: #ffc107;
}

.payment-container {
  margin-top: 25px;
  margin-bottom: 20px;
}
